// Color schems
@bg-color: #EEEEEE;
@info-color: #0af;
@error-color: #FF3500;
// Text colors
@text-color-normal: #aaa;
@text-color-link: #0af;
// Consts
@phi: 0.618;

html, body {
  overflow: hidden;
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;
  background-color: @bg-color;
  color: @text-color-normal;
}

a {
  color: @text-color-link;
  text-decoration: none;
}

#cloud {
  width: 100%;
  height: 70%;
  margin: 0px auto;
}

#container {
  position: relative;
  width: 100%;
  height: 20%;
  #text {
    text-align: center;
    width: 100%;
    height: 100%;
    background-color: transparent;
  }
  .banner {
    position: absolute;
    bottom: -5px;
    width: 100%;
    height: 1.5em;
    color: white;
    text-align: center;
    padding: 5px;
    opacity: 0;
  }
  #info {
    background-color: @info-color;
  }
  #error{
    background-color: @error-color;
  }
}
#footer {
  width: 100%;
  margin: 30px auto;
  text-align: center;
}
