// Color schems
@bg-color: #EEEEEE;
// Text colors
@text-color-normal: #aaa;
@text-color-link: #0af;
// Consts
@phi: 0.618;

html, body {
  overflow: hidden;
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;
  background-color: @bg-color;
  color: @text-color-normal;
}

a {
  color: @text-color-link;
  text-decoration: none;
}

#cloud {
  width: 100%;
  height: 70%;
  margin: 30px auto;
}

#footer {
  width: 100%;
  margin: 30px auto;
  text-align: center;
}
